.list-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.time {
  color: #475569;
  font-size: 26px;
  font-family: 'Roboto';
  margin-left: 20px;
  margin-right: 20px;
}
.logo {
  height: 20px;
  width: 35px;
  margin: 15px;
}
.link-element {
  color: #475569;
  font-size: 23px;
  margin-left: 20px;
}
.button {
  height: 40px;
  width: 60px;
  background-color: transparent;
}
.delete-logo {
  height: 30px;
  width: 50px;
}
